@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

/* Base Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* or use a light grey if needed */
  border-radius: 10px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2); /* subtle dark */
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease;
}

/* On hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Optional: Horizontal scrollbar */
::-webkit-scrollbar-horizontal {
  height: 8px;
}


@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 15s linear infinite;
  }
}